RewriteEngine On
RewriteRule ^LOGIN$ index.php?LOGIN
RewriteRule ^LOGOUT$ index.php?LOGOUT
RewriteRule ^categories/$ index.php?CATEGORIES
RewriteRule ^([^/]+)\/sections\/$ index.php?category=$1
RewriteRule ^sections\/$ index.php?category
RewriteRule ^([^/]+)\.html$ index.php?section=$1
RewriteRule ^([^/]+)\/([^/]+)\.html$ index.php?section=$1_$2
RewriteRule ^([^/]+)\/([^/]+)\/([^/]+)\.html$ index.php?section=$1_$2_$3
RewriteRule ^([^/]+)\/([^/]+)\/([^/]+)\/([^/]+)\.html$ index.php?section=$1_$2_$3_$4

