RewriteEngine On
RewriteRule ^([0-9]+)/([0-9]+)/page:([^/]+)$ blog.php?year=$1&month=$2&page=$3
RewriteRule ^([0-9]+)/page:([^/]+)$ blog.php?year=$1&page=$2
RewriteRule ^$ blog.php
RewriteRule ^page:([0-9]+)$ blog.php?page=$1
RewriteRule ^edit:([0-9]+)/([0-9]+)/([^/]+)$ blog.php?EDIT&entry=$1/$2/$3
RewriteRule ^edit:([^/]+)$ blog.php?EDIT&entry=$1
RewriteRule ^delete:([0-9]+)/([0-9]+)/([^/]+)$ blog.php?DELETE&entry=$1/$2/$3
RewriteRule ^delete:([^/]+)$ blog.php?DELETE&entry=$1
RewriteRule ^([^/]+)_([^/]+)\.html$ blog.php?entry=$1&page=$2
RewriteRule ^([0-9]+)/([0-9]+)/([^/]+)\.html$ blog.php?entry=$1/$2/$3
RewriteRule ^([0-9]+)/([0-9]+)$ blog.php?year=$1&month=$2
RewriteRule ^([0-9]+)/([0-9]+)/$ blog.php?year=$1&month=$2
RewriteRule ^([0-9]+)$ blog.php?year=$1
RewriteRule ^([0-9]+)/$ blog.php?year=$1
RewriteRule ^([^/]+)\.html$ blog.php?entry=$1
RewriteRule ^([^/]+)\.pdf$ blog.php?entry=$1&PDF
RewriteRule ^([^/]+)\.html/([0-9]+)$ blog.php?entry=$1&start=$2
RewriteRule ^atom\.xml$ blog.php?FEED
RewriteRule ^([^/]+)_atom\.xml$ blog.php?FEED&entry=$1
RewriteRule ^POST_COMMENT$ blog.php?POST_COMMENT
RewriteRule ^NEW$ blog.php?NEW
RewriteRule ^POST$ blog.php?POST
RewriteRule ^DELETE_COMMENTS$ blog.php?DELETE_COMMENTS
