RewriteEngine On
RewriteRule ^style.css$ style.php
RewriteRule ^sitemap.html$ sitemap.php
RewriteRule ^sitemap.xml$ sitemap.php?XML
RewriteRule ^([0-9]+)/([0-9]+)/page:([^/]+)$ index.php?year=$1&month=$2&page=$3
RewriteRule ^([0-9]+)/page:([^/]+)$ index.php?year=$1&page=$2
RewriteRule ^$ index.php
RewriteRule ^page:([0-9]+)$ index.php?page=$1
RewriteRule ^edit:([0-9]+)/([0-9]+)/([^/]+)$ index.php?EDIT&entry=$1/$2/$3
RewriteRule ^edit:([^/]+)$ index.php?EDIT&entry=$1
RewriteRule ^delete:([0-9]+)/([0-9]+)/([^/]+)$ index.php?DELETE&entry=$1/$2/$3
RewriteRule ^delete:([^/]+)$ index.php?DELETE&entry=$1
RewriteRule ^([0-9]+)/([0-9]+)/([^/]+)_([^/]+)\.html$ index.php?entry=$1$2$3&page=$4
RewriteRule ^([0-9]+)/([0-9]+)/([^/]+)\.html$ index.php?entry=$1/$2/$3
RewriteRule ^([0-9]+)/([0-9]+)$ index.php?year=$1&month=$2
RewriteRule ^([0-9]+)/([0-9]+)/$ index.php?year=$1&month=$2
RewriteRule ^([0-9]+)$ index.php?year=$1
RewriteRule ^([0-9]+)/$ index.php?year=$1
RewriteRule ^([^/]+)\.html$ index.php?entry=$1
RewriteRule ^([^/]+)\.pdf$ index.php?entry=$1&PDF
RewriteRule ^([^/]+)\.html/([0-9]+)$ index.php?entry=$1&start=$2
RewriteRule ^atom\.xml$ index.php?FEED
RewriteRule ^([^/]+)_atom\.xml$ index.php?FEED&entry=$1
RewriteRule ^POST_COMMENT$ index.php?POST_COMMENT
RewriteRule ^NEW$ index.php?NEW
RewriteRule ^POST$ index.php?POST
RewriteRule ^DELETE_COMMENTS$ index.php?DELETE_COMMENTS
