img {
	border: none;
	position:relative;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
	text-align:center;
	float:center;
	margin:auto;
}

.dock2{
vertical-align:top !important;
position:relative !important;
float:center !important;
text-align:center !important;
margin:auto !important;
}

.dock-container2 {
	height: 50px;
	background: url(images/dock-bg2.png);
	padding-left: 10px;
}
a.dock-item2 {
	display: inline;
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	text-align: center;
	text-decoration: none;
	margin: 0;
}
.dock-item2 span {
	display: none;
	margin:0;
}
.dock-item2 img {
	border: none; 
	margin: 0;
	width: 40px;
}

.separator{
	width:1px !important;
	height:40px !important;
	padding:0 5px;
}

a.separator{
	cursor: pointer !important;
}
