RewriteCond %{HTTP_HOST} ^190.98.197.102$ [NC]
RewriteRule ^(.*)$ http://dportalcms.org/$1 [R=301,L]

RewriteEngine On
RewriteRule ^sitemap.xml$ sitemap.php?mode=XML
RewriteRule ^sitemap.html$ sitemap.php
RewriteRule ^LOGIN$ index.php?LOGIN
RewriteRule ^LOGOUT$ index.php?LOGOUT
RewriteRule ^categories/$ index.php?CATEGORIES
RewriteRule ^([^/]+)\/sections\/$ index.php?category=$1
RewriteRule ^sections\/$ index.php?category
RewriteRule ^([^/]+)\.print\.html$ index.php?section=$1&PRINT
RewriteRule ^([^/]+)\/([^/]+)\.print\.html$ index.php?section=$1_$2&PRINT
RewriteRule ^([^/]+)\.html$ index.php?section=$1
RewriteRule ^([^/]+)\/([^/]+)\.html$ index.php?section=$1_$2
RewriteRule ^([^/]+)\.pdf$ index.php?section=$1&PDF
RewriteRule ^([^/]+)\/([^/]+)\.pdf$ index.php?section=$1_$2&PDF
