body{
      font-size:12px;
      padding:2px 25px;
      /*background:#FFFFFF url('images/main-bg.gif');*/
      font-family:Verdana,sans-serif;
      color:#000000;
}

a:link{
      text-decoration:none;
      font-weight:bold;
      color:#444444;
	  
}a:visited{
      text-decoration: none;
      font-weight: bold;
      color: #555555;
}a:hover{
      text-decoration:none;
      font-weight:bold;
      color:#AAAAAA;

}.sidebar_link{
	margin-bottom:3px;

}em.desc{
      font-size:11px;
      /*font-family:"Courier New",Courier,monospace;*/
}#container{
      width:95%;
      border:2px #000 dashed;
      margin:10px auto;
      padding:5px;
      background: #FFFFFF;
}#banner{
      width:500px;
      margin:0 auto 5px auto;
      border:2px #000 dashed;
}.banner{
      width:auto;
      height:150px;
      border:1px #000 dashed;
      text-align:center;
      margin:5px;
      background:url('images/banner.png') center no-repeat;
}#sup_ads{
      width:99%;
      margin:0 auto;
      border:2px #000 dashed;
}.sup_ads{
      width:auto;
	  text-align:center;
      /*border:1px #000 dashed;*/
      /*margin:5px auto;*/
}h1{
      font-size:18px;
      font-family:Verdana,sans-serif;
      margin:0;
      text-align:center;
	  
}h2{
	font-size:16px;

}h3{
	font-size:14px;

}h5.titre{
      font-size:13px;
      font-family:Verdana,sans-serif;
      background:#94D4FC url(images/fond2.gif);
      border:#4474BC 1px solid;
      margin:0;
      color:#4D73AD;
      padding:2px;
      text-align:center;
}.sidebar{
      width:130px;
      min-height:100px;
      border:#000 1px dashed;
      margin:5px 2px 5px 3px;
      float:right;
      padding:0px;
      font-size:11px;
      background:#FFFFFF;
}.content{
      width:auto;
      min-height:100px;
      border:#000 1px dashed;
      margin:5px 138px 5px 2px;
      padding:5px;
      font-size:13px;
      background:#FFFFFF;
      color:#000000;
}.footer{
      width:auto;
      border:#000 1px dashed;
      margin:2px 2px 0 2px;
      padding:5px;
      background:#FFFFFF;
}ul.list{
      list-style-type:none;
      margin:0;
      padding:0;
}li.list{
       padding:2px 0;
}ul.menu{
      list-style-type:none;
      padding:0;
      margin:0;
      font-weight:bold;
}li.menu{
       margin:5px;
}.img{
       border:0;
}.menu{
	  text-align:center;
	  margin:0 90px;

}.invisible{
      visibility:hidden;
      font-size:0;
      height:0;
      padding:0;
      margin:0;
}.cleaner{
       clear:both;
      padding:0;
      margin:0;
      height:0;
      font-size:0;
}

.image_gallery{

	display:inline-table;
	padding:5px;
	margin:5px;
	vertical-align:middle;
}

.image_gallery_panel{

	display:inline-table;
	padding:1px;
	margin:1px;
	vertical-align:middle;
}

.contenidoItem p{
       margin: 3px;
}

.blog_entry {
    border-bottom: #000000 1px dotted;
    margin-bottom: 20px; 
}

.blog_entry_last {
    border:none;
    margin-bottom:0;
}

.blog_entry_content {
    margin:3px 0 3px 10px;
}

h2.blog_entry_title{
    margin:0;
    padding:0;
}

h3.blog_entry_date{
  font-size:10px;
  margin:0;
  padding:0;
}

.code {
  margin: 0 0 20px 50px;
  font-family:Courier New;
  background: #fff;
  max-height:400px;
  overflow:auto;
}

.message_ok, .message_error{
  font-size:16px;
  margin: 3px auto;
  max-width:400px;
  text-align:center;
  padding: 7px;
}

.message_ok {
  background: #ccffcc;
  border: #009933 1px dotted;
  color: #009933;
}

.message_error {
  background: #ff9999;
  border: #990000 1px dotted;
  color: #990000;
}

select.list{
	min-width: 200px;
}

@media print{.no_print{
	display:none;
}}



/** Searchcontrol */

/* Main box */
#searchcontrol .gsc-control{
font-size:90%;
font-weight:bold;

}

.searchcontrol{
position:relative !important;
height: 40px !important;
background: #FFFFFF !important;
z-index:1 !important;
padding: 5px !important;
}

/* "Loading..." text */
span.loading {
font-size:160%;
font-weight:bold;
}

/* bold the section header */
.gsc-tabHeader {
font-weight: bold !important;
color : #55AA11 !important;
font-family: "Comic Sans MS", Arial, sans-serif !important;
}

/* Tabs */
.gsc-tabhInactive {
background: #AAFF99 !important;
border-color: #CCFFAA #88FF77 #88FF77 #CCFFAA !important;
}

.gsc-tabhActive {
background: #DDFFCC !important;
}

/* Results */
.gsc-resultsRoot-siteSearch .gsc-keeper {
background-image : url('http://google.com/css/orange_check.gif');
font-weight : bold;
color: #55AA11;
}

.gsc-resultsRoot {
width:400px !important;
position:relative !important;
right:281px !important;
top:-2px !important;
background: #FFFFFF !important;
border:1px #000000 dashed !important;
padding-left: 10px  !important;
}

.gs-title{
font-size: 11px !important;
font-family: "Comic Sans MS", Arial, sans-serif !important;
color:#338800 !important;
}

.gsc-results .gsc-webResult {
font-size: 10px !important;
font-family: "Comic Sans MS", Arial, sans-serif !important;
}

.gs-visibleUrl {
font-size: 11px !important;
font-family: "Comic Sans MS", Arial, sans-serif !important;
}

.gsc-tabsArea .gsc-branding-text .gs-snippet {
font-size: 0px !important;
color: #fff !important;
}

.gsc-branding-text {
font-size: 0px !important;
color: #fff !important;
width:0 !important;
height:0 !important;
}

.gsc-branding-user-defined {
width: 0 !important;
height: 0 !important;
}

.gsc-cursor-box {
font-size: 12px !important;
font-family: "Comic Sans MS", Arial, sans-serif !important;
}

.gsc-cursor-page {
color:#44AA55 !important;
}

.gsc-trailing-more-results {
color:#11AA88 !important;
}

.gsc-input {
width: 95px !important;
}

.gsc-search-button {
padding:0 !important;
margin: 0 -5px 0 2px !important;
width: 20px;
height: 20px;
font-size: 0px;
border:0;
color:#338800 !important;
background: url('http://img171.imageshack.us/img171/4210/20pxsearchtoolsvg.png') no-repeat !important;
}

.gsc-clear-button{
top: 10px !important;
right: 5px !important;
position:relative !important;
}

.gsc-imageResult {
margin:auto !important;
}

iframe.#I1_1309488516636{
	width: 50px !important;
}
