RewriteEngine On
RewriteRule ^phpinfo$ ../panel.php?PHPINFO
RewriteRule ^section:edit$ ../panel.php?EDIT
RewriteRule ^section:create$ ../panel.php?CREATE
RewriteRule ^section:delete$ ../panel.php?DELETE
RewriteRule ^category:create$ ../panel.php?CREATE_CATEGORY
RewriteRule ^category:delete$ ../panel.php?DELETE_CATEGORY
RewriteRule ^config:update$ ../panel.php?SITE_CONF
RewriteRule ^template:save$ ../panel.php?TEMPLATE_SAVE
RewriteRule ^template:save$ ../panel.php?TEMPLATE_SAVE
RewriteRule ^template:([^/]+)$ ../panel.php?template_file=$1
RewriteRule ^clear_cache$ ../panel.php?CLR_CACHE
RewriteRule ^backup:create$ ../panel.php?BACKUP
RewriteRule ^backup:restore$ ../panel.php?RESTORE
RewriteRule ^backup:download$ ../panel.php?DOWNLOAD_BACKUP
RewriteRule ^backup:delete$ ../panel.php?DELETE_BACKUPS
RewriteRule ^gallery:create$ ../panel.php?CREATE_GALLERY
RewriteRule ^gallery:delete$ ../panel.php?DELETE_GALLERY
RewriteRule ^gallery:delete_image$ ../panel.php?DELETE_IMAGE
RewriteRule ^gallery:upload$ ../panel.php?UPLOAD_GALLERY
RewriteRule ^video:create$ ../panel.php?CREATE_PLAYLIST
RewriteRule ^video:upload$ ../panel.php?UPLOAD_VIDEO
RewriteRule ^video:delete$ ../panel.php?DELETE_VIDEO
RewriteRule ^video:delete_playlist$ ../panel.php?DELETE_PLAYLIST
RewriteRule ^([^/]*)$ ../panel.php